---
import BaseLayout from './BaseLayout.astro';
import Header from '@/components/Header.astro';
import Footer from '@/components/Footer.astro';

interface Props {
  title?: string;
  description?: string;
  keywords?: string[];
}

const props = Astro.props;
---

<BaseLayout {...props}>
  <Header />
  <main class="flex-grow">
    <slot />
  </main>
  <Footer />
</BaseLayout>
